<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>front</key>
		<string>猫</string>
		<key>back</key>
		<string>犬</string>
	</dict>
	<dict>
		<key>front</key>
		<string>魚</string>
		<key>back</key>
		<string>鳥</string>
	</dict>
	<dict>
		<key>front</key>
		<string>豚</string>
		<key>back</key>
		<string>牛</string>
	</dict>
	<dict>
		<key>front</key>
		<string>花</string>
		<key>back</key>
		<string>木</string>
	</dict>
	<dict>
		<key>front</key>
		<string>森</string>
		<key>back</key>
		<string>車</string>
	</dict>
</array>
</plist>
